* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Muli', sans-serif;
    background-color: #eff2f7;
}


/* Header side */

.header {
    width: 100%;
    background-color: #00247e;
}

.header-menu-container {
    width: 1140px;
    margin: 0 auto;
    padding: 20px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-menu-container .logo {
    width: auto;
    height: auto;
}

.header-menu-container .logo img {
    margin-top: 3px;
}

.header-menu-container .navbar ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.header-menu-container .navbar ul li {
    padding: 10px 20px;
}

.header-menu-container .navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
}

.header-menu-container .navbar ul .navbar-quote {
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    background-color: blue;
    padding: 10px 20px;
    margin-left: 20px;
    border-radius: 5px;
    transition: all 0.3s linear;
}

.navbar ul .navbar-quote:hover {
    background-color: rgb(2, 2, 170);
}

.navbar ul .ul-dropdown {
    position: absolute;
    top: 100px;
    border-top: 3px solid blue;
    background-color: #fff;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;
    z-index: 5;
}

.navbar ul li:hover .ul-dropdown {
    top: 80px;
    padding: 0;
    margin: 0;
    opacity: 1;
    visibility: visible;
    display: flex;
    flex-direction: column;
}

.navbar ul .ul-dropdown li {
    width: 250px;
    display: list-item;
    position: relative;
    padding: 6px 10px;
    border-top: none;
}

.navbar ul .ul-dropdown li:hover {
    background-color: blue;
}

.navbar ul .ul-dropdown li:hover a {
    color: #fff;
}

.navbar ul .ul-dropdown li a {
    color: #333;
    padding: 0;
}


/* End Header side */


/* About side */

section {
    width: 100%;
    margin: 50px 0px;
}

.container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container .side-content {
    width: 49%;
}

.side-content h6 {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    color: #0C5ADB;
}

.side-content h1 {
    font-size: 40px;
    padding: 20px 0px;
    color: #232323;
}

.side-content h1 span {
    color: #0C5ADB;
}

.side-content .line-animation {
    width: 100px;
    height: 5px;
    background-color: #cbbded;
    border-radius: 4px;
    position: relative;
}

.line-animation .bull {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0C5ADB;
    position: absolute;
    top: -2.7px;
    animation-name: run;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes run {
    from {
        margin-left: 0px;
    }
    to {
        margin-left: 96px;
    }
}

.side-content p {
    font-size: 20px;
    color: #333;
    padding: 20px 0px;
}

.small-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small-container:hover .wrapper-icon .icon .circle {
    background-color: #0C5ADB;
}

.small-container:hover .wrapper-icon .icon i {
    color: #fff;
}

.small-container .wrapper-icon {
    width: 150px;
}

.small-container .wrapper-icon .icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 20px 50px 5px #e9eef7;
    position: relative;
    left: 8px;
}

.small-container .wrapper-icon .icon .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(12, 90, 219, 0.10);
    position: absolute;
    top: -5px;
    left: -8px;
    transition: all 0.3s linear;
}

.small-container .wrapper-icon .icon i {
    position: absolute;
    top: 20px;
    left: 18px;
    font-size: 30px;
    color: #0C5ADB;
    transition: all 0.3s linear;
}

.article {
    padding: 20px;
}

.article h5 {
    font-size: 20px;
    color: #232323;
}

.article p {
    font-size: 18px;
    padding: 10px 0px;
}

.container .side-image {
    width: 49%;
    height: 540px;
    position: relative;
}

.side-image img {
    width: 100%;
    object-fit: cover;
}

.side-image .animation-img {
    width: 50px;
    height: 280px;
    position: absolute;
    top: 180px;
    right: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation-name: animationDownUp;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}

@keyframes animationDownUp {
    from {
        top: 180px;
    }
    to {
        top: 165px;
    }
}

.animation-img img {
    width: 100%;
}


/* End about side */